
{% extends 'base.html' %}
    {% block content %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Initiated Date</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th scope="col">Intention</th>
          <th scope="col">Verses</th>
          <th scope="col">Answered</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        {% if pastRequests %}
          {% for pastRequest in pastRequests %}
          <tr>
            <th scope="row">{{ pastRequest.r_initiated }}</th>
            <td><span class="badge badge-dark">{{ pastRequest.r_category }}</span></td>
            <td><span class="badge badge-info">{{ pastRequest.r_description }}</span></td>
            <td><span class="badge badge-primary">{{ pastRequest.r_intention }}</span></td>
            <td><span class="badge badge-dark">{{ pastRequest.r_verses }}</span></td>
            <td><span class="badge badge-success">{{ pastRequest.r_answered }}</span></td>
            <td><a href='' class="badge badge-light">Edit</a></td>
          </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>

      <div class='bg-secondary'>
        <div id='content'>
          <br>
          <center>
          <div class='jumbotron bg-light'>
          {% if pastRequests %}
            {% for pastRequest in pastRequests %}
            <div class='jumbotron bg-primary text-light'>
              Internal Prayer ID: {{ pastRequest.user.first_name }} {{ pastRequest.user.last_name }}
              <div class='row'>
                <div class="col-xs-auto col-xs-auto">
                  Date: {{ pastRequest.r_initiated }}
                </div>
                <div class="col-xs-auto col-xs-auto">
                  Request: {{ pastRequest.r_description }}
                </div>
              </div>
              <div class='row'>
                <div class="col-xs-auto col-xs-auto">
                  Intention: {{ pastRequest.r_intention }}
                </div>
                <div class="col-xs-auto col-xs-auto">
                  Answered: {{ pastRequest.r_answered }}
                </div>
              </div>
            </div>
            {% endfor %}
          {% endif %}
          </div>
          </center>
          </div>
          <br>
      </div>

  {% if pastRequests %}
    {% for pastRequest in pastRequests %}
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Answered: <span class="badge badge-success">{{ pastRequest.r_answered }}</span></h5>
              <p class="card-text">{{ pastRequest.r_description }}</p>
              <a href="#" class="btn btn-primary">Edit</a>
              <a href="#" class="btn btn-secondary">Detail View</a>
            </div>
          </div>
        </div>
      </div>
    <br>
    {% endfor %}
  {% endif %}
{% endblock %}
